<!-- template for editing a booking -->
<div class="row-fluid">
  <div class="span8 offset2">
    <!-- checks if the room to edit has already been edited, and returned errors -->
    <% if @room_toEdit.errors.any? %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <% @room_toEdit.errors.full_messages.each do |msg| %> <!-- iterates through each error  -->
            <%= msg %><br/><!-- displays the error -->
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="span2">
    <h2>Editing Room</h2> <!-- page title -->
  </div>
  <div class="span3 offset1">
    <br/>
    <!-- input form for the booking -->
    <%= form_for @room_toEdit, :url => {:action => "process_edit", :id => @room_toEdit.id } do |r| %>
      <%= r.text_field :name, :placeholder => "Room Name" %> <!-- text field for room name -->
      <%= r.text_field :capacity, :placeholder => "Room Capacity" %> <!-- text field for room capacity -->
      <%= r.text_field :base_rate, :placeholder => "Base price, in GBP" %> <!-- text field for base rate of room -->
      <%= r.text_area :description, { :size => "10x10", :placeholder => "Room Description"} %><br/> <!-- text area for description of room -->
      Does this room have a stage? <%= r.check_box :stage %><br/> <!-- checkbox for if the room has a stage -->
      Does this room have a kitchen? <%= r.check_box :kitchen %> <!-- checkbox for if the room has a kitchen -->
  </div>
</div>
<div class="row-fluid">
  <div class="span2 offset3">
      <%= r.submit "Confirm", :class => "btn btn-info" %>
    <% end %>
  </div>
</div>