<!-- template for creating a new booking -->
<div class="row-fluid">
  <div class="span8 offset2">
    <% if @newRoom.errors.any? %> <!-- checks to see if a booking has already been made, but had errors -->
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <% @newRoom.errors.full_messages.each do |msg| %> <!-- iterates through each error -->
            <%= msg %><br/> <!-- displays the error -->
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="span2">
    <h2>Creating New Room</h2> <!-- page title -->
  </div>
  <div class="span3 offset1">
    <br/>
    <!-- creates form for new room -->
    <%= form_for @newRoom, :url => {:action => "process_new"} do |r| %>
      <%= r.text_field :name, :placeholder => "Room Name" %> <!-- text field for room name -->
      <%= r.text_field :capacity, :placeholder => "Room Capacity" %> <!-- text field for room capacity -->
      <%= r.text_field :base_rate, :placeholder => "Base price, in GBP" %> <!-- text field for base_rate -->
      <%= r.text_area :description, { :size => "10x10", :placeholder => "Room Description"} %><br/> <!-- text area for room description -->
      Does this room have a stage? <%= r.check_box :stage %><br/><!--  check box if the room has a stage -->
      Does this room have a kitchen? <%= r.check_box :kitchen %> <!-- check box if the room has a kitchen -->
  </div>
</div>
<div class="row-fluid">
  <div class="span2 offset3">
    <!-- submit button -->
      <%= r.submit "Create", :class => "btn btn-info" %>
    <% end %>
  </div>
</div>