<div class="row-fluid">
  <div class="span2">
    <h2>Changing Password</h2>
  </div>
  <div class="span3 offset1">
    <%= form_tag "/user/process_password" do %>
      <%= password_field_tag "oldPass", nil, :placeholder => "Old Password" %>
      <%= password_field_tag "newPass", nil, :placeholder => "New Password" %>
      <%= password_field_tag "newPassCheck", nil, :placeholder => "Confirm New Password" %>
      <%= submit_tag "Change", :class => "btn btn-info" %>
      <%= link_to "Cancel", :back, :class => "btn btn-warning" %>
    <% end %>
  </div>
</div>