<!-- template for changing user password -->
<div class="row-fluid">
  <div class="span2">
    <h2>Changing Password</h2> <!-- page title -->
  </div>
  <div class="span3 offset1">
    <%= form_tag :action => "process_password" do %> <!-- form for editing password -->
      <%= password_field_tag "oldPass", nil, :placeholder => "Old Password" %> <!-- password field for old password -->
      <%= password_field_tag "newPass", nil, :placeholder => "New Password" %> <!-- password field for new password -->
      <%= password_field_tag "newPassCheck", nil, :placeholder => "Confirm New Password" %> <!-- password field for new password confirmation -->
      <%= submit_tag "Change", :class => "btn btn-info" %> <!-- submit button for changing password -->
      <%= link_to "Cancel", :back, :class => "btn btn-warning" %> <!-- cancel button -->
    <% end %>
  </div>
</div>