<!-- template for viewing all users -->
<h2>Viewing All Users</h2><!-- page title -->
<table class="table table-striped table-bordered"> <!-- table for showing users -->
  <tr>
    <th class="center">ID</th>             <!-- table heading for user attribute -->
    <th class="center">Username</th>       <!-- table heading for user attribute -->
    <th class="center">Full Name</th>      <!-- table heading for user attribute -->
    <th class="center">Email Address</th>  <!-- table heading for user attribute -->
    <th class="center">Local?</th>         <!-- table heading for user attribute -->
    <th class="center">Over 18?</th>       <!-- table heading for user attribute -->
    <th class="center">Administrator?</th> <!-- table heading for user attribute -->
    <th> </th>  <!-- blank heading for edit button -->
    <th> </th>  <!-- blank heading for delete button -->
  <% @allUsers.each do |u| %>
    <% if u.id == session[:id] %> <!-- checks if the user is the one logged in -->
      <tr class="info"> <!-- makes their row blue -->
    <% else %>
      <tr> <!-- otherwise just the standard colour -->
    <% end %>
        <td class="center">
          <%= u.id %> <!-- display user ID -->
        <td>
          <%= u.username %> <!-- display user username -->
        </td>
        <td>
          <%= u.fullname %> <!-- display user's full name -->
        </td>
        <td>
          <%= u.email %> <!-- display user's email address -->
        </td>
        <td class="center">
          <% if u.local %> <!-- if the user is local -->
            &#10004; <!--displays a tick mark -->
          <% else %>
            &#10006; <!-- otherwise displays a cross mark -->
          <% end %>
        </td>
        <td class="center">
          <% if u.over_18 %> <!-- if the user is over 18 -->
            &#10004; <!-- displays a tick mark -->
          <% else %>
            &#10006; <!-- otherwise displays a cross mark -->
          <% end %>
        </td>
        <td class="center">
          <% if u.admin %> <!-- if the user is an admin -->
            &#10004; <!-- displays a tick mark -->
          <% else %>
            &#10006; <!-- otherwise displays a cross mark -->
          <% end %>
        </td>
        <td class="center">
          <% if u.id != session[:id] %> <!-- checks if the user is the one logged in, to stop them deleting their own account by accident -->
          <%= link_to "Delete", {:action => "delete",:id => u.id}, :class => "btn btn-small btn-danger" %> <!-- link to delete the account, as long as the user isn't logged in -->
          <% end %>
        </td>
        <td class="center">
          <%= link_to "Edit", {:action => "edit", :id => u.id}, :class => "btn btn-small btn-warning" %><!-- link to edit account -->
        </td>
      </tr>
  <% end %>
  </table>
  <div class="row-fluid">
    <div class="span3">
      <%= link_to " Register New User", {:action => "new"}, :class => "btn btn-success" %> <!-- button to create new user -->
    </div>
  </div>